@{
    ViewBag.Title = "Dashboard";
    ViewBag.HeaderText = "Dashboard";
    ViewBag.HeaderSmallText = "Statistic Overview";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div class="col-lg-12">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem odio, vehicula quis eleifend id, consequat vestibulum turpis. Nam quis efficitur ligula. Aliquam id tellus vitae nisi suscipit faucibus. Proin porta urna a hendrerit dictum. In tincidunt vestibulum nisl, nec congue metus sagittis vel. Cras ac dapibus felis. Aenean vulputate orci ultricies mauris luctus, ut faucibus ex finibus. Nunc sagittis ultricies justo, id fermentum dui sagittis et. Nam congue ante sed ligula mattis, a bibendum metus finibus. Curabitur sed sodales diam, ac sagittis justo. Duis sed massa tristique, ultrices purus vel, gravida lectus. Mauris egestas pretium convallis. Ut in ex odio. Fusce viverra gravida dolor.
    </p>
</div>